@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:wght@300;400&family=Oswald:wght@200&display=swap');
* {
  margin: 0;
  padding: 0;
  border: none;
}
p {
  padding: 1rem;
}
/* Header */
header {
  margin: auto;
}
.container {
  max-width: 1140px;
  width: 100%;
  padding: 2rem;
  margin: auto;
}

#logo {
  font-family: Oswald, sans-serif;
  color: #385e72;
  letter-spacing: 3px;
  text-decoration: none;
  float: left;
  font-size: 0.5cm;
  text-transform: uppercase;
  margin: 1rem;
}
.navi {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem;
}
#menu li {
  color: inherit;
  font-family: Lato, sans-serif;
  float: right;
  text-transform: uppercase;
  position: relative;
  display: inline;
  list-style: none;
  margin-right: 15px;
  margin-inline-start: 10px;
  font-size: 80%;
  background-color: aliceblue;
  border-radius: 30%;
}

#menu, #logo {
  line-height: 75px;
}

#menu a {
  text-decoration: none;
  color: #385e72;
  display: flex;
}
#menu a:hover {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #B7CFDC;
  border-radius: 30%;
}
body {
  font-family: Lato, sans-serif;
  font-size: large;
  text-align: center;
  max-height: 1200px;
}
/*Welcome*/
.container {
  padding: auto;
  margin: auto;
  height: 100%;
  width: 100%;
  font-family: Lato, sans-serif;
  letter-spacing: 3px;
  line-height: 1.6;
}
#welcome-title {
  letter-spacing: 5px;
  font-size: 1cm;
  height: 100%;
  width: 100%;
  font-family: Oswald, sans-serif;
  letter-spacing: 5px;
  margin-top: 10%;
}
#wave-pic {
  height: 30%%;
  width: 100%;
}
#welcome, #welcome-txt {
  color: #385e72;
  font-size: large;
  height: 100%;
  width: 100%;
  font-family: Lato, sans-serif;
  letter-spacing: 3px;
  line-height: 2;
  text-align: center;
  border-left: 0;
  margin-bottom: 10%;

}
/* Techniques */
#techniques-title {
  letter-spacing: 5px;
  color: #385E72;
  font-size: 1cm;
  height: 100%;
  width: 100%;
  font-family: Oswald, sans-serif;
  letter-spacing: 5px;
  text-align: center;
  padding: 1rem;
}
#meditation-title, #skills-title, #sign-up-title {
  letter-spacing: 5px;
  font-size: 1cm;
  height: 100%;
  width: 100%;
  font-family: Oswald, sans-serif;
  letter-spacing: 5px;
  text-align: left;
  margin-left: none;
  padding: 1rem;
  text-align: center;
}
.meditation-title-two {
  letter-spacing: 5px;
  font-size: 0.8cm;
  color: #0C4160;
  height: 100%;
  width: 100%;
  font-family: Oswald, sans-serif;
  letter-spacing: 5px;
  text-align: left;
  margin-left: none;
  padding: 1rem;
  text-align: center;
}
.meditation-title-three {
  letter-spacing: 5px;
  color:#0C4160;
  font-size: 0.7cm;
  height: 100%;
  width: 100%;
  font-family: Oswald, sans-serif;
  letter-spacing: 5px;
  text-align: left;
  margin-left: none;
  padding: 1rem;
  text-align: center;
}
#meditation-img {
  height: 10%;
  width: 10%;
  border-radius: 50%;
  float: right;
}
#meditation-txt {
  color: #385e72;
  font-size: large;
  background: #B7CFDC;
  height: 100%;
  width: 100%;
  font-family: Lato, sans-serif;
  letter-spacing: 3px;
  line-height: 2;
  text-align: center;
}
#meditation {
color: #385e72;
background: #d9e4ec;
font-size: large;
height: 100%;
width: 100%;
font-family: Lato, sans-serif;
letter-spacing: 3px;
line-height: 1.6;
display: block;
}
.item {
  display: table-row;
}
#consistency-pic {
  height: 10%;
  width: 10%;
}
#consistency-txt {
  color: #385e72;
  font-size: large;
  height: 100%;
  width: 100%;
  font-family: Lato, sans-serif;
  letter-spacing: 3px;
  line-height: 2;
  text-align: center;
  border-left: 0;
}
#time-pic {
  height: 10%;
  width: 10%;
}
#meditation-element-pic {
  height: 13%;
  width: 13%;
}
#breath-title {
  letter-spacing: 5px;
  font-size: 1cm;
  height: 100%;
  width: 100%;
  font-family: Oswald, sans-serif;
  letter-spacing: 5px;
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  background-color: #d9e4ec;
  color: #385e72;
}
#breath-title-two {
  letter-spacing: 5px;
  font-size: 0.8cm;
  color: #0C4160;
  height: 100%;
  width: 100%;
  font-family: Oswald, sans-serif;
  letter-spacing: 5px;
  text-align: left;
  margin-left: none;
  padding: 1rem;
  text-align: center;
}
#breath-txt, #breath {
  color: #385e72;
  font-size: large;
  background: #B7CFDC;
  height: 100%;
  width: 100%;
  font-family: Lato, sans-serif;
  letter-spacing: 3px;
  line-height: 2;
  text-align: center;
}
#breath-link {
  list-style: none;
}
#skills-txt, #skills {
  color: #385e72;
  font-size: large;
  background: #B7CFDC;
  height: 100%;
  width: 100%;
  font-family: Lato, sans-serif;
  letter-spacing: 3px;
  line-height: 2;
  text-align: center;
}
#skills-title {
  letter-spacing: 5px;
  font-size: 1cm;
  height: 100%;
  width: 100%;
  font-family: Oswald, sans-serif;
  letter-spacing: 5px;
  padding: inherit;
  text-align: center;
  background-color: #d9e4ec;
  color: #385e72;
}
#sign-up {
  background: white;
}
#contact-us {
  font-family: Oswald, sans-serif;
}
/* Sign Up */
/* Footer */
@media (max-width: 830px) {
  #menu a {
    font-size: 1rem;
  }
}
@media (max-width: 780px) {
  #menu a {
    font-size: 0.7rem;
  }
  #menu li {
    margin-left: 0;
  }
}
@media (max-width: 550px) {
  h1 {
    font-size: 1.2rem;
  }
}
