@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:wght@300;400&family=Oswald:wght@200&display=swap');
* {
  margin: 0;
  padding: 0;
  border: none;
}
/* Header */
header {
  margin: auto;
}
.container {
  max-width: 1140px;
  width: 100%;
  padding: 2rem;
  margin: auto;
}
#logo {
  font-family: Oswald, sans-serif;
  color: #385e72;
  letter-spacing: 3px;
  text-decoration: none;
  float: left;
  font-size: 0.5cm;
  text-transform: uppercase;
  padding: 1rem;
}
.navi {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem;
}
#menu li {
  color: inherit;
  font-family: Lato, sans-serif;
  float: right;
  text-transform: uppercase;
  position: relative;
  display: inline;
  list-style: none;
  margin-right: 1rem;
  margin-inline-start: .5rem;
  font-size: 80%;
  background-color: aliceblue;
  border-radius: 30%;
}
#menu, #logo {
  line-height: 75px;
  padding-bottom: 1rem;
}
#menu a {
  text-decoration: none;
  color: #385e72;
  display: flex;
}
#menu a:hover {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #B7CFDC;
  border-radius: 30%;
}
body {
  font-family: Lato, sans-serif;
  font-size: large;
  text-align: center;
  max-height: 1200px;
}
/*Welcome*/
.container {
  padding: auto;
  margin: auto;
  height: 100%;
  width: 100%;
  font-family: Lato, sans-serif;
  letter-spacing: 3px;
  line-height: 1.6;
}
#welcome-title {
  letter-spacing: 5px;
  font-size: 1cm;
  height: 100%;
  width: 100%;
  font-family: Oswald, sans-serif;
  letter-spacing: 5px;
  padding-top: 1rem;
}
.main-pitcure {
  width: 100;
  height: auto;
}
#welcome, #welcome-txt {
  color: #385e72;
  font-size: large;
  height: 100%;
  width: 100%;
  font-family: Lato, sans-serif;
  letter-spacing: 3px;
  line-height: 2;
  text-align: center;
  border-left: 0;
  margin-bottom: 1rem;
}
/* Techniques */
ul {
  list-style: none;
}
#techniques-title {
  letter-spacing: 5px;
  color: #385E72;
  font-size: 1cm;
  height: 100%;
  width: 100%;
  font-family: Oswald, sans-serif;
  letter-spacing: 5px;
  text-align: center;
}
#meditation-title {
  letter-spacing: 5px;
  font-size: 1cm;
  height: 100%;
  width: 100%;
  font-family: Oswald, sans-serif;
  letter-spacing: 5px;
  text-align: left;
  margin-left: none;
  text-align: center;
}
.meditation-title-two {
  letter-spacing: 5px;
  font-size: 0.8cm;
  color: #0C4160;
  height: 100%;
  width: 100%;
  font-family: Oswald, sans-serif;
  letter-spacing: 5px;
  text-align: left;
  margin-left: none;
  text-align: center;
}
.meditation-title-three {
  letter-spacing: 5px;
  color:#0C4160;
  font-size: 0.7cm;
  font-weight: bold;
  height: 100%;
  width: 100%;
  font-family: Oswald, sans-serif;
  letter-spacing: 5px;
  text-align: left;
  margin-left: none;
  text-align: center;
}
#meditation-img {
  height: 10%;
  width: 10%;
  border-radius: 50%;
  float: right;
}
#meditation-txt {
  color:#385E72;
  font-size: larger;
  background: white;
  height: 100%;
  width: 100%;
  font-family: Lato, sans-serif;
  letter-spacing: 3px;
  line-height: 2;
  text-align: center;
}
#meditation {
color: #385e72;
background: #d9e4ec;
font-size: large;
height: 100%;
width: 100%;
font-family: Lato, sans-serif;
letter-spacing: 3px;
line-height: 1.6;
display: block;
}
.item {
  display: table-row;
}
#consistency-pic {
  background-color: #B7CFDC;
  border-radius: 50%;
  height: 10%;
  width: 10%;
}
#consistency-txt {
  color: #385e72;
  font-size: large;
  height: 100%;
  width: 100%;
  font-family: Lato, sans-serif;
  letter-spacing: 3px;
  line-height: 2;
  text-align: center;
  border-left: 0;
}
#time-pic {
  height: 10%;
  width: 10%;
  background-color: #B7CFDC;
  border-radius: 50%;
}
#meditation-element-pic {
  height: 13%;
  width: 13%;
  background-color: #B7CFDC;
  border-radius: 50%;
}
#breath-title {
  letter-spacing: 5px;
  font-size: 1cm;
  height: 100%;
  width: 100%;
  font-family: Oswald, sans-serif;
  letter-spacing: 5px;
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  background-color: #d9e4ec;
  color: #385e72;
}
#breath-title-two {
  letter-spacing: 5px;
  font-size: 0.8cm;
  color: #0C4160;
  height: 100%;
  width: 100%;
  font-family: Oswald, sans-serif;
  letter-spacing: 5px;
  text-align: left;
  margin-left: none;
  text-align: center;
}
#breath-txt, #breath {
  color: #385e72;
  font-size: large;
  background-color: white;
  height: 100%;
  width: 100%;
  font-family: Lato, sans-serif;
  letter-spacing: 3px;
  line-height: 2;
  text-align: center;
}
#breath-link {
  list-style: none;
}
#skills-txt, #skills {
  color: #385e72;
  font-size: large;
  background-color: white;
  height: 100%;
  width: 100%;
  font-family: Lato, sans-serif;
  letter-spacing: 3px;
  line-height: 2;
  text-align: center;
}
#skills-title {
  letter-spacing: 5px;
  font-size: 1cm;
  height: 100%;
  width: 100%;
  font-family: Oswald, sans-serif;
  letter-spacing: 5px;
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  background-color: #d9e4ec;
  color: #385e72;
}
/* Sign Up */
#sign-up-title {
  letter-spacing: 5px;
  font-size: 1cm;
  height: 100%;
  width: 100%;
  font-family: Oswald, sans-serif;
  letter-spacing: 5px;
  text-align: left;
  margin-left: none;
  text-align: center;
  color: #385e72;
  background-color: #d9e4ec;
}
#fname, #lname, #email {
    width:200px;
    padding: 10px;
    box-sizing: border-box;
    border: solid;
    border-color: #d9e4ec;
    border-radius: 10%;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.04);
  }
  #sign-up {
    color: #385e72;
    font-size: large;
    height: 100%;
    width: 100%;
    font-family: Lato, sans-serif;
    letter-spacing: 3px;
    line-height: 2;
    text-align: center;
  }
  #sign-up-txt {
    color: #385e72;
    font-size: large;
    height: 100%;
    width: 100%;
    font-family: Lato, sans-serif;
    letter-spacing: 3px;
    line-height: 2;
    text-align: center;
    border-top: 30px;
  }
  .button {
    background-color: #385e72;
    border-radius: 10%;
    margin-top: 20px;
    padding: 15px 30px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  #meet-up-img {
    height: 80%;
    width: 80%;
    align-self: center;
  }
/* Footer */
#footer {
    height: 150px;
}
.social-networks {
  text-align: center;
}
.social-networks > li {
  display: inline;
}
.social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #0C4160;
}
@media (max-width: 850px) {
  .container {
    padding: 30px;
    margin: 0;
    text-align: center;
  }
  #menu a {
    font-size: 1rem;
  }
  #menu {
    clear: left;
    float: left;
    line-height: 25px;
  }
  .main-pitcure {
    width: 100%;
    max-width: 500px;
    height: auto;
  }
}
@media (max-width: 780px) {
  .container {
    padding: 30px;
    margin: 0;
    text-align: center;
  }
  #menu a {
    font-size: 0.7rem;
    float: right;
  }
  #menu li {
    margin-left: 0;
    float: right;
  }
  .main-pitcure {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
}
@media (max-width: 550px) {
  .container {
    padding: 30px;
    margin: 0;
    text-align: center;
  }
  h1 {
    font-size: 1.2rem;
  }
  .main-pitcure {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
}
